{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "jsxSingleQuote": false,
  "singleQuote": false,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "printWidth": 80
}
